<div class=title>
	<h1>Articl.es</h1>
	<p>...Articles for,against and why we all know the muffin man.</p>
</div>

<ul class=menubar>
	<li><a href="articls">Articles</a></li>
	<li><a href="authors">Authors</a></li>
</ul>

<%= link_to image_tag('arrow_left.png'),  articls_path , :title=>'Return to Articles Page'%>
<%= link_to 'Back', session[:redirect], title => "Go Back" %>

<h2>Editing "<%=h @author.name %>"</h2>

<% form_for(@author, :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>

<%= f.error_messages %>
  <p>
	<%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
	<%= f.label :Photo %><br />
    <%= f.file_field :photo %>
  </p>
  <p>
    <%= f.submit 'Update Author', :title => "Save and Return" %>
  </p>
<% end %>