<div class=title>
	<h1>Articl.es</h1>
	<p>Why Spanish, really we couldn't do this in Basque?</p>
</div>

<ul>
	<li><%= link_to image_tag('arrow_left.png'), edit_author_path(@author) %>
		<%= link_to 'Back', author_path %></li>
	<li><%= link_to image_tag('script_edit.png'), edit_author_path(@author) %>
		<%= link_to 'Edit', edit_author_path(@author) %></li>
	<li><%= link_to image_tag('delete.png'), @author, :confirm => 'Are you sure?', :method => :delete %></td>
		<%= link_to 'Delete',@author, :confirm => 'Are you sure?', :method => :delete %></li>
</ul>

<h3>
  Name: <%=h @author.name %>
</h3>
<p>
  <b>Photo:</b>
  <%= image_tag @author.photo.url %>
</p>
<p>
  <b>Articles:</b>
		<ul class="ListoArticls">
			<% @author_articles.each do |article| %>
				<li><%=h article.title %>
					<%= link_to image_tag('magnifier.png'), article, :title => "view this article" %>
					<%= link_to image_tag('script_edit.png'), edit_article_path(article), :title => "edit this article" %>
					<%= link_to image_tag('delete.png'), article, :confirm => 'Are you sure?', :method => :delete, :title => "delete this article" %>
				</li>
			<% end %>
		</ul>
</p>