#content
  .title
    %h1= @title
   
  .pub_nav 
    %p= link_to "Register", register_path
    %p= link_to "Login", login_path
	
  %table
    %tr
      %th Name
      %th Rating
    - for game in @games
      %tr
        %td= h game.name
        %td= h game.rating
        %td= h game.created_at
  %p= link_to "New Game", new_game_path
