.title
  %h1 Articl.es
  %p Why Spanish, really we couldn't do this in Basque?
%ul
  %li
    = link_to image_tag('arrow_left.png'), edit_articl_path(@articl)
    = link_to 'Back', articls_path
  %li
    = link_to image_tag('script_edit.png'), edit_articl_path(@articl)
    = link_to 'Edit', edit_articl_path(@articl)
  %li
    = link_to image_tag('delete.png'), @articl, :confirm => 'Are you sure?', :method => :delete
    = link_to 'Delete',@articl, :confirm => 'Are you sure?', :method => :delete
%h3
  = h @articl.title
%p
  by
  \#{h @articl.author}#{h @articl.created_at.strftime("%A, %b. %d, %Y")}
%p
  = h simple_format(@articl.body)